@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

/* font-family: 'Aboreto', cursive;
font-family: 'Bebas Neue', cursive; */
:root {
    --sombra: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 5px 1px #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 1.1rem;
}

/* ================COSAS GENERALES================ */
main {
    background: linear-gradient(#d58b3671, rgba(0, 0, 0, 1));
}

.subtitulo {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin: 100px 0px 40px 0px;
    text-shadow: 2px 3px 5px brown;
    transition-duration: .6s;
}

.subtitulo:hover {
    color: brown;
}

.especial {
    margin-top: 0px;
}

.resaltado {
    font-size: 2.5rem;
}

.resaltado:hover {
    text-decoration: none;
}

.full__img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================NAVBAR================ */
.portada {
    width: 100%;
    height: 100vh;
    background-image: url('../img/portada-space2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    height: 120px;
    padding: 20px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.205);
}

.logo {
    margin: 0 10px;
}

.menu {
    margin: 0 10px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    align-self: baseline;
    margin: 10px 15px;
    transition-duration: 1s;
}

.menu ul li a {
    color: antiquewhite;
    margin-bottom: 20px;
    text-shadow: black 2px 2px;
    transition-duration: 1s;
    font-family: 'Bungee Spice', cursive;
}

.menu ul li:hover {
    border-bottom: orange solid 2px;
    border-top: orange solid 2px;
    transform: scale(1.2);
}

.titulo {
    color: white;
    height: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif, Courier, monospace;
    text-shadow: black 5px 5px;
    display: flex;
    font-size: 3rem;
    place-content: center;
    align-items: center;
}

.titulo h1 {
    transition-duration: 1s;
}

.titulo h1:hover {
    text-shadow: brown 7px 5px;
    transform: scale(1.03);
}

@media (max-width:1100px) {
    .titulo {
        font-size: 2.4rem;
    }

    .navbar {
        height: auto;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "izquierda-arriba centro derecha-arriba"
            "izquierda-abajo centro derecha-abajo";
    }

    .menu ul li a {
        justify-self: center;
    }
}

.centro {
    grid-area: centro;
    justify-self: center;
}

.izquierda-arriba {
    grid-area: izquierda-arriba;
    justify-self: center;
}

.derecha-arriba {
    grid-area: derecha-arriba;
    justify-self: center;
}

.izquierda-abajo {
    grid-area: izquierda-abajo;
    justify-self: center;
}

.derecha-abajo {
    grid-area: derecha-abajo;
    justify-self: center;
}

/* ==================MISIONS================== */
.misiones {
    text-align: center;
}

.misiones__galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    place-content: center;
}

.tarjeta__misiones {
    width: 350px;
    height: 350px;
}

.tarjeta__misiones__texto {
    height: 20%;
}

.tarjeta__misiones__imagen {
    height: 80%;
}

.tarjeta__misiones__imagen img {
    border-radius: 250px;
    transition-duration: 0.6s;
    box-shadow: var(--sombra);
}

.tarjeta__misiones__imagen img:hover {
    transform: scale(1.05);
}

.traje {
    margin: 80px auto;
    display: flex;
    padding: 25px;
}

.traje__texto {
    width: 60%;
    padding: 20px;
    display: flex;
    place-content: center;
    flex-direction: column;
    border: solid brown 1px;
    box-shadow: var(--sombra);
}

.traje__texto h2 {
    margin: 15px auto;
}

.traje__img {
    width: 40%;
    height: auto;
}

.traje__img img {
    width: 100%;
    height: 100%;
}

/* ==================GALERIA================== */
.contenedor__geleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    width: 80%;
    gap: 25px;
    margin: 10px auto;
}

.galeria__img {
    transition-duration: 1s;
    box-shadow: var(--sombra);
}

.imagen-ancha {
    columns: span 3;
}

.galeria__img:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
    border: solid white 1px;
}

/* ==================TECNOLOGIA================== */
.contenedor__tecnologia {
    display: flex;
    height: fit-content;
    width: 80%;
    max-width: 1300px;
    margin: 30px auto;
    box-shadow: var(--sombra);
}

.contenedor__tecnologia h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.contenedor__tecnologia p {
    font-size: 1.3rem;
}

.contenedor__tecnologia__img {
    width: 60%;
    box-shadow: var(--sombra);
    transition-duration: 1s;
}

.contenedor__tecnologia__texto {
    width: 40%;
    height: 100%;
    padding: 25px;
    align-self: center;
    transition-duration: 1s;
}

.contenedor__tecnologia__texto h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.contenedor__tecnologia__texto:hover {
    transform: scale(1.1);
    border: solid white 1px;
    background-color: black;
}

.contenedor__tecnologia__img:hover {
    transform: scale(1.025);
}

/* ================PLANETAS================ */
.planetas {
    display: flex;
    height: fit-content;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor__planetas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    border: solid white 1px;
    margin: 20px auto;
    width: 20%;
    box-shadow: var(--sombra);
}

.contenedor__planetas__texto {
    height: auto;
}

.contenedor__planetas__texto h3 {
    margin: 20px auto;
    width: 40px;
    height: 370px;
    font-size: 40px;
    word-wrap: break-word;
    letter-spacing: 10px;
    text-shadow: 3px 3px brown;
}

.contenedor__planetas__img {
    height: 50%;
}

.contenedor__planetas__img img {
    transition-duration: 1s;
}

.contenedor__planetas__img img:hover {
    transform: scale(1.2);
}

/* ================FOOTER================ */
.footer {
    background-color: black;
    height: auto;
    display: flex;
    border-top: 1px white solid;
    justify-content: space-between;
}

.footer .redes-sociales {
    font-size: 2rem;
    align-self: center;
    margin: 0 20px;
    padding: 15px;
    border: 1px solid antiquewhite;
}

.footer .redes-sociales i {
    margin: 0 20px;
    color: antiquewhite;
    transition-duration: 1s;
}

.footer .redes-sociales i:hover {
    color: orange;
    font-size: 2.5rem;
}

.footer-nav .navbar .menu {
    align-self: center;
    font-size: 1.2rem;
}

.footer-nav .resaltado {
    font-size: 2rem;
}

.copyright {
    text-align: center;
    background-color: black;
    color: antiquewhite;
}

/* ================================PARTE RESPONSIVE================================ */

/* -----Desktop----- */
@media (max-width:1200px) {

    /*galeria*/
    .contenedor__geleria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 220px);
        gap: 20px;
    }

    .imagen-ancha {
        grid-column: span 2;
    }
}

/* -----Tablet----- */
@media (max-width:768px) {

    .subtitulo {
        font-size: 2.5rem;
        margin: 30px auto;
    }

    .especial {
        margin-top: 0px;
    }

    .titulo {
        height: 50%;
        padding: 10px;
        font-size: 2rem;
    }

    /*Navbar*/
    .navbar ul {
        display: block;
    }

    .menu ul {
        text-align: center;
    }

    /*traje*/
    .traje {
        display: block;
        margin: 30px auto;
        width: 90%;
        padding: 10px;
    }

    .traje__texto {
        width: 100%;
    }

    .traje__texto p {
        font-size: 1rem;
    }

    .traje__img {
        width: 80%;
        margin: 5px auto;
        margin-top: 20px;
    }

    .traje__img img {
        max-height: 350px;
    }

    /*Tecnologia*/
    .contenedor__tecnologia {
        display: block;
        width: 95%;
        height: fit-content;
        padding: 10px;
    }

    .contenedor__tecnologia__img {
        width: 100%;
        height: 350px;
    }

    .contenedor__tecnologia__texto {
        width: 100%;
        padding: 20px;
    }

    .contenedor__tecnologia h3 {
        font-size: 1.3rem;
    }

    .contenedor__tecnologia p {
        font-size: 1rem;
    }

    .contenedor__tecnologia__texto:hover {
        transform: scale(1.025);
    }

    /*Planetas*/
    .contenedor__planetas {
        width: 45%;
    }

    .contenedor__planetas__texto h3 {
        margin: 10px auto;
        width: auto;
        letter-spacing: normal;
        font-size: 1.8rem;
    }

    .contenedor__planetas__texto {
        height: 10%;
    }

    .contenedor__planetas__img {
        height: 90%;
    }

    /*footer*/
    .footer-nav .navbar .menu {
        font-size: 1.2rem;
    }

    .footer-nav .resaltado {
        font-size: 1.5rem;
    }
}

/* -----Mobile----- */
@media (max-width:480px) {
    .subtitulo {
        font-size: 2rem;
        margin: 50px auto 20px;
    }

    .especial {
        margin-top: 0px;
    }

    .titulo {
        font-size: 1.5rem;
    }

    /*Planetas*/
    .contenedor__planetas__texto h3 {
        font-size: 1.4rem;
        height: 100px;
    }

    /*galeria*/
    .contenedor__geleria {
        display: block;
        margin: 15px auto;
    }

    .galeria__img {
        height: 150px;
        margin: 20px auto;
    }

    /*footer*/
    .footer .redes-sociales i {
        margin: 20px auto;
        font-size: 1.4rem;
    }

    .footer-nav .navbar .menu {
        font-size: 0.8rem;
    }

    .footer-nav .resaltado {
        font-size: 1.2rem;
    }
}